<a href="https://colab.research.google.com/github/Kristina140699/Master-Data-Science-in-Python/blob/main/Intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - Panel Data
### Pandas stands for Panel Data and is the core library for data manipulation and data analysis. It consists of single and multi-dimensional data structures for data-manipulation.

Single-dimensional: Series Object. It is an one-dimensional labeled array.

Multi-dimensional: Data-frame

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

## Changing the index

In [4]:
s1 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
s1
# here we have got the series as a-e using index. Compare it with the prev example.

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
s1 = pd.Series([1,2,3,4,5], index = ['apple', 'boy', 'cat', 'dolphin', 'ear'])
s1

apple      1
boy        2
cat        3
dolphin    4
ear        5
dtype: int64

## Series Object from Dictionary

In [6]:
pd.Series({'a':10, 'b':20, 'c':30})

a    10
b    20
c    30
dtype: int64

## Chnaging index position

In [7]:
pd.Series({'a':10, 'b':20, 'c':30}, index=['b', 'c', 'd', 'a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

## Extracting Individual Elements

In [8]:
# Extracting a single element
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

4

In [9]:
# Extracting elements from back
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [16]:
s1[3:]

3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [12]:
# Extracting a sequence of elements
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
s1[:-4]

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Basic Math Operations on Series

In [17]:
s1+17

0    18
1    19
2    20
3    21
4    22
5    23
6    24
7    25
8    26
dtype: int64

In [21]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10, 20, 30, 40, 50, 60, 70, 80])

s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5    66.0
6    77.0
7    88.0
8     NaN
dtype: float64

In [23]:
s1-.9

0    0.1
1    1.1
2    2.1
3    3.1
4    4.1
5    5.1
6    6.1
7    7.1
8    8.1
dtype: float64

In [25]:
s2-s1

0     9.0
1    18.0
2    27.0
3    36.0
4    45.0
5    54.0
6    63.0
7    72.0
8     NaN
dtype: float64

In [24]:
s1*2

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64